.simmi{
 position: absolute;
width: 341.9px;
height: 35.7px;
left: 122.99px;
top: 44.1px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;

color: #FF8C21;
}
.foundation
{
    position: absolute;
    width: 341.9px;
    height: 35.7px;
    left: 210.99px;
    top: 44.1px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    
    color: black;
}

.nav-image{
position: absolute;
width: 67.64px;
height: 57.75px;
left: 46.73px;
top: 31.5px;
}

.rectangle1{
    position: absolute;
    width: 1771px;
    height: 126px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}

.options{

position: absolute;
width: 1208.95px;
height: 115.5px;
left: 562.05px;
top: 0px;

}
.home{
    position: absolute;
width: 77.48px;
height: 21.17px;
left: 400.58px;
top: 51.97px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: rgba(0, 0, 0, 0.68);
}

.menu{
    position: absolute;
width: 65.18px;
height: 23.1px;
left: 500.26px;
top: 51.97px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #555353;
}

.outline{
    position: absolute;
width: 29.52px;
height: 23.1px;
left: 550.36px;
top: 51.97px;
}
.outline1{
    position: absolute;
    width: 29.52px;
    height: 23.1px;
    left: 650.95px;
    top: 51.97px;
}
.outline2{
    position: absolute;
    width: 29.52px;
    height: 23.1px;
    left: 795.58px;
    top: 51.97px;
}

.events{
    position: absolute;
width: 78.71px;
height: 23.1px;
left: 600.32px;
top: 51.97px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #555353;
}

.contact{
    position: absolute;
width: 126.68px;
height: 23.1px;
left: 700.52px;
top: 51.97px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #555353;
}

.faq{
    position: absolute;
width: 60.26px;
height: 23.1px;
left: 850.69px;
top: 51.97px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: rgba(0, 0, 0, 0.68);
}

.fundraiser{
    position: absolute;
width: 202.93px;
height: 43.05px;
left: 880.94px;
top: 57.75px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16.95px;
line-height: 21px;
text-align: center;

color: rgba(0, 0, 0, 0.65);
}

.donate{
    position: absolute;
    width: 94.7px;
    height: 17.33px;
    left: 1485.67px;
    top: 51.01px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}

.login{
    position: absolute;
width: 77.45px;
height: 17.33px;
left: 1635.09px;
top: 51.97px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


.rectangle4{
    position: absolute;
width: 141.43px;
height: 41.39px;
left: 1080.15px;
top: 41.39px;

background: #FF8C21;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.rectangle5{
    position: absolute;
width: 125.45px;
height: 41.39px;
left: 1280.43px;
top: 42.35px;

background: #555353;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}